@use '../../mixins/effects_list';

@include configure($alt-color:$alt-color);

.effects {
    .section-body {
        .effects-list{
            @include effects-list;
            padding-left: 0px;
            padding-right: 5px;
        }
    }
}